.habilidades {
  max-width: 1200px;
  padding: 100px 200px;
  margin: 0 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 15px;
  color: #9c9cec;
  grid-column: 1;
}
.habilidades-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 12px;
}
.ai,
.ps,
.js,
.html,
.css {
  background: #9c9cec;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: #0f2341;
}
.ai:hover {
  background: #ee822f;
  color: #310000;
}
.ps:hover {
  background: #2fa3f7;
  color: #001d34;
}
.html:hover {
  background: #e96c2c;
  color: rgb(255, 255, 255);
}
.css:hover {
  background: #096eb0;
  color: #ffffff;
}
.js:hover {
  background: #de9d28;
  color: #ffffff;
}
@media (max-width: 840px) {
  .habilidades {
    grid-template-columns: 1fr;
    padding: 25px 40px 25px 40px;
    justify-content: center;
    text-align: center;
  }
  .habilidades-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    justify-content: center;
  }
}
