.header {
  max-width: 1300px;
  padding: 30px 20px;
  background: #11284bec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.header a {
  text-decoration: none;
  color: rgb(183, 152, 240);
}
.header-menu a {
  font-size: 1rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  color: rgb(183, 152, 240);
}
.header-menu a:hover {
  color: #6ed5f3;
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .header-menu a {
    background: #204275ec;
    border-radius: 4px;
  }
}
