.introducao {
  max-width: 1300px;
  padding: 100px 20px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 0.35fr 1fr 1fr 0.3fr;
  gap: 50px;
  align-items: center;
}
.introducao h1 {
  grid-column: 3;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 15px;
  color: #9c9cec;
}

.introducao p {
  color: #c9c8c8;
  grid-column: 3;
}

.introducao img {
  grid-column: 2;
}
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}
@media (max-width: 840px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
    grid-column: 2;
    text-align: center;
  }
  .introducao img {
    grid-column: 1;
  }
}

@media (max-width: 470px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}
